Source: windows7-theme
Section: user/desktop
Priority: optional
Maintainer: kid2k <kid2k@live.com> <www.mobile4arab.com>
Build-Depends: debhelper (>= 4.0.0), hildon-theme-layout-5, hildon-theme-tools, imagemagick, pkg-config
Version: 0.2

Package: windows7-theme
Architecture: all
Description: Windows7 theme for Maemo 5. by amj2k <kid2k@live.com> <www.mobile4arab.com>
XB-Maemo-Display-Name: Windows7 theme
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7E
 AAAOxAGVKw4bAAANV0lEQVR4nNWaTawlx1XHf6e67r3d772ZeW9m4vFY/o5J
 4oRIYBAICwMSJErCAkVZoawiECIL2MACJITEJhuy4UsIQZRsIliBWCBCIkIS
 hQBCIo4IHuOMPf7CY3vezHt+X7dvV51zWFT1vffNzNqya9Sv+1Z3V52P/zn1
 P9UjgFBaU68D7/zmgAEaKUILMKEoETmthL/t4t3ZZO3aAQUS4KOwDbABTIGO
 lTfGF9bPb3eTtfMovAJHgEWKsDNgh6LEfcDjay+sK/B2KyFrx/j7FeBl4CaQ
 IrAFbLct/9Tn9tHyXE9b/7YAsS/duS3n2EO5Q5+hpf6O9Xfsa3/pY7yfl1el
 P58+r0atLddzBPJ4t6/ztNfI/UcFuAy8p23b7y0Hu6OVYVeCQR/v/lRfJ26r
 QKdGyNDHtt4vY413W/ry/F3GvVOmarx+/0ciJXjbtm2rJXr63/iH1bN/8osr
 q8SVVce+np42t6uJc8841ro1+1jfz319tqVtqZYFYrt6Pq8ZKAM//CQ88CRc
 +w7ti/9Fn0eEMKvDMllp3rKd9+Fojz52cPER2L8+3qEfJ41jT52swqCN20WJ
 WPpb2tMwa2+zaNsuBW1pl4K3kZVXPv570LXwU5+Ar/0Z7X9+efTCZEyjsY3t
 Ems7bUv71KeBlv6Re9n73KerwB0tc4hjLAC5pb0Dz9VLeSVMmbArRwTiHHIH
 zJdjdbGjy3PmcW1soHv6y2x/5vMAXP/jr0O7vcTEqIB3EeZ0AGzvXuHyzicg
 wv7rO+zVwUsbz5TJW4og7XztXJ+Lc6BjzpyuvjdfjtAtjTIHugjzXJWo11RF
 Hv/s5+FMC4c9/Ud+hb2v/elyvFXItB1dnbjfvUJ77bul/wdfp4urwU5Zugox
 ordvoaVbC94yyc5aXxfbAjFY6yvjdSN81iXLc6597lNcfvxHuX7l39i7+gxd
 uzKiAI8B9z3y2OPfbKFmhn5lqaUl2lX2yf1KaFbZZ5l5asprY18VbVdKxbXc
 tJ7RxkRQM9QIxb5ff34OsWNM2deuXvm5pQdO/uBpXj4+Zmv3afAjBo8MM2Nr
 ApsRLkyMpLDhcJgbjjKoQYfweu/kDJ5BFdzKgQEOXvvEwQxQw92xZPjCkAAf
 /6GGbz274CTVF1TBFdcElsEUNMFwCP0ecnSdxz/55KWlAk9cCrzSb/Eql5lx
 nUhLnAXOTqFrnEsTxx0WJmzkwP4AZoHNAMOxY1YUwIuwppBzETolyKkonLNj
 Cwd3Qmt86GG42AnP3VSOZgOhc8iGaMZdkZxAhzrgAnA8LwDhyt994fWlAtMI
 FzaFk8sXEXXCJDFtNrl/prQYFyewGRoWJuwOwtYQWDgcLGBjBlYFdS1CYyD1
 WrVAw738nuCIOROMWXBuLYwXFpnmrJaHsiKaIFcP5EVRIC3AFUlzkMI3lwpI
 ANzRs2fYmUw4P+u5d+JcjBNm4myK0YaGZIINAqlhnuHgxNmscJoPxdJeoSMK
 mBDMiQYBoRNnQyCp0yfjhb3MW8eObyqiCupgCc+5QGdIoAvQDKEHSzA5hmZ6
 WoHNzulH3G60zKYdP7HtXGwOmUjDJGxwMzccqhB7YZYCjcGDnXM4QFYYktOn
 YvGchZzA3OkHmM9Lf8qQB3BzLCsSlO4coJlhnnE1fJhAGEANYcCTgKTi1TjD
 mylIc5sHpHihFWerEZrgnCBMwxlgQcOcWdOx8Ibt2GAGQ3BMha5xBhFQx4OQ
 HDyU8dSFiTjWrBUZNcjNiqKqBgqxEQhCzsWOpfmSFq8I8VjPrK8DFUJThBgg
 BsgImzGgbHCgCUWZhMyZ5pg+HqN6gSY0TJtiAGvArDBfMyE1EBSapqz5WYrQ
 Jo4JuAgSnGCgAjkbghMCeBDcRrGLsIJXTZyRYa9VXuXhBmikKODAoTkKNCGS
 aNHQMWkatuNAGwSC0QSYBCE0gRDKIY0gIgihulcIImVaWXYVsh+qpUVwF9Qc
 cQiBNYHXDi/GPqWAOzQ4wZ0ABBcGh+sqvKFl8kmANgizeIYUHqWNU85MprSx
 YdoEJhV6TXCmDSSPnODcK8+yKXsc5gZknPR0rSS+ksPdMFMsGyKGYMi4uIwZ
 or67gtDoLodkkM0ZFDQKC3cODTaDgEMjxplGaHD64AUaAu3mhMEUl2Kb+6fP
 8OHpN/jJ2bc40h2eu/UQf3Hjd4j0BEpdOMZE+VOFWwaA4wVzp5RdPne7Ao6Q
 DRbZmYtwpM62GUEEBTqR4nZ32ip0F2AIQsrOyWv7zDY3CBmu31jw0Xv+h19/
 4G+5f/MN3F9luDXwxTd/E2PExlqFWmEhGD4KWS3uboitecB9+eoKQuqIOqrO
 SXYOsnOY4TA7J+qoOan4lxhKAAkFbtNGmATnua9e4eS1tzjcPeTFN/c5Ch9k
 a+dTtNu/TLf905y7dIkPzr6/yih1PMQRWVdi7V69dveCkmX/7VkoO1mNfnBO
 FOZTQRDMha0IJxPhKBiTENhsAikbJwpH2TlORowBueci/x4j73+o469+Zoe/
 f/4SX3jxMX7rA3PeOHmKWTjgD3/sq/z8v3yYaMXaAUNH7mE1f2ouPEQrucoD
 Mt5XRbxwqVMKeHI8O5qMQcBdOIiBm8FZqBBwJAjToAzZiVJeVvXCccw4c+8m
 Q688vBF5cjuw+YDyjVeFL13tePHgfYjvMj28WXiTO1ItG9wxt9MWdiu8xIxT
 C0eF1J0xoIark3snm4A5x9HZDTBXp3FhOoVZA4oTQymmcS88y+HcuSnD1YFX
 LmVeuhyZWMP3bmbetyV87H7lYDjhm/N9dmaBoz7haMW8lSzklUqgy0B1V5bb
 QSOttXq+mwI6KEkDrkLfOG8hLCJEb5gCG8FJDTQYUw9McbKWrNWenfKR+L8c
 HjT89dXAow2cjcYT54Ufv5BRj/hkn6+8dIN9PbviPmoIukyVppVOaxV2/I0i
 rsUDt0OIuUIy/EhJIuhEyAshdcJJhEWrHLSBzSicnxibAUBpXcjJOcrOvnV8
 sf9LHljMmV94iu78o/zqgxf5/e9PeG/3Hd5Y/B+7+//IB8ItTqa/y625YYNj
 apASwYcSxHkg50rg8qIcmiElXIdC6O7wQDZIig9akpgKWCC7YBEacyQ7KQoy
 E1IjTAUWNTlYciwN/PP5n+WzL/453fsfBHUiL/Ha7iN8++W/4creRV699RAP
 TV/g6vE1dvXBKqThORePmOOMAVsKGRkLGs81HvxuCmQ8G74oCpAFs4rSKPQO
 khyLgmQhR2EWhCgFnmrgaeA/eIzPPLtH+97/hjNvMTnY4/ybv8SXDj/E80e/
 wGK4wMPTb7O7d4CoY1og4aZ4GiGTS6Yxq5lpzFLlENe6VpyKgRKJPiQMQYIg
 HsgIoRHEAsNEsCBFuUodpqFQ4wAMAzzPPXylfZKPPfNdotyk33OOz5/jX/vf
 JulFXOHG8cNkTXguRQtukBXLCVctKVOroOvWt4yYFsXu8ECf4CTDYcJN8CCE
 aUAngjeCTBr6KIQIOQqLGAiVtVYuRnDY9y1+7Yk/YuP4LeKw4PC+TXIQ4jAn
 pl1UHRtKyrThBBuqhVOGVGoAGxZIGmr1tcBzXyyvA64Jp75zah3IGQbFFwnX
 4gGzQFDBGsGyQRRopGwJVwW0UPjKkcDUmUpmL3SkyRaTnOj6IzRlTL2k9qS4
 OT7Wvma45lLOmYEmXBNSY0EsLWPBvULpDgjlmqoWuWxpNCWI0YAEsIlCLMTf
 I0gUgkAI5VxyUmGVQmKDBWal9nU1LHutwqzsRpgjNXhLZZPKroOOCmQgL3ck
 xLTWBWV9kLvHgJbKfFgp4FoxkgPeGBqEGAtLVUoVZVReP3JiAcyQWkuYUYTG
 a7YrEPJsWBohlPC08gCaKu5TjYESEyJlHAlluYtLXwyLGgcn+MJxEUIMeGzw
 hlJsxIBIwGLAGkcQvKkyS3mmVCxe/lXOZWjJ9V4hlHOJAdWigFvhPimVRSov
 isVdCZrABsZ9GzEjoCXg1jxQdqZUiyuzgxQiFzyWVVwEckCagGnJTF5RNgq9
 UgCQwnMKiSw8xt1xLdsmZo5r3TzyAiW34gHXjFhJpVhGvFALr15Yo+E+ekCj
 OLPGmQajFYMQKAWgIl6lcieYEUIAL3dFS/TKsk5dcfyy5IMuyVn1jCgu9Rxq
 SgxaFrBQMrxorY+lQtkpCysNaIOHBupXygykjanQD3BuJojVdSBI/dxXClQp
 EUpoSs4cdzIQr7WuL70xAgnArO5KeN1OaWos6hq1j1LizR2mAbFYgzUQJJTc
 r4HjYAze4ZMW6jeyY+BW8MwsKDudMwuOiJX8KDXiY1OKdKHMGMbrMYLXjts/
 bC7hVDLRyOfdKg/BcR3xaGANIRQPxwCxsWXWOTyecuMW9H4vx3ArUnLO8ZAU
 VSMGYTYJRY4mlB0ESrKXEFZCj7lz7Birqrrt4LJSQkSoaCqbvCa1DBbwsv3h
 wqpULAhGBCaNEGPxjIhjNmHYmpEWZwGOhfKJdQa8h/KZ9Qx3/9T2TmmZ8pH7
 FnBDKMI2lM+tU8qW/TK3vMPaGDFKgf7R+kfkd+X/lVgPw/Xzu6E5FKu/W5sD
 yLg98W5t/w88AqNFpRu4dAAAAABJRU5ErkJggg==
 ====
